body, html {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 20px;
    background: #f4efef;
    height:80vh;
}

.hero-image {
    position: relative;
    z-index: 1;
    margin:20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5PX 5PX 5PX rgba(13, 110, 253, 0.20);
    animation:animate 15s ease-in-out infinite;
    transition: all 15s ease-in-out;
    border-radius: 50%;
    width: 380px;
    height: 380px;
    overflow: hidden;
}
.hero-image img {
    width: 100%;
    height: 115%;
    object-fit: cover;
    
}

@keyframes animate {
    0% ,100% {
        border-radius: 60% 40% 30% 70% /60% 30% 70% 40%;

    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}




.hero-content {
    position: relative;
    z-index: 1;
    
}

.hero-title {
    font-size: 2.5rem;
    margin-top: -10px;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin: -10px 0 20px;
}

.hero-links a {
    color: #333;
    font-size: 2rem;
    margin: 0 10px;
    transition: transform 0.3s;
}

.hero-links a:hover {
    transform: scale(1.2);
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .hero {
        flex-direction:row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .hero-image {
        margin-bottom: 0;
        margin-right: 20px;
        margin-bottom: 50px;
    }

    .hero-content {
        max-width: 50%;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    .hero-links {
        display: flex;
        justify-content: flex-start;
    }

    .hero-links a {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
    }

    .hero-image {
        order: 1; 
        margin-bottom: 50px;

    }

    .hero-content {
        order: 2; /* Ensure the content is second on smaller screens */
    }
}