body, html {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 20px;

    background: #fff;
    height: 100vh;
}

.hero-image {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    animation: backgroundAnimation 10s linear infinite;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid #333;
}

@keyframes backgroundAnimation {
    0% {
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5), 0 0 20px 0 rgba(255, 0, 0, 0.5);
    }
    25% {
        box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.5), 0 0 20px 0 rgba(0, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 10px 0 rgba(0, 0, 255, 0.5), 0 0 20px 0 rgba(0, 0, 255, 0.5);
    }
    75% {
        box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.5), 0 0 20px 0 rgba(255, 255, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5), 0 0 20px 0 rgba(255, 0, 0, 0.5);
    }
}




.hero-content {
    position: relative;
    z-index: 1;
    
}

.hero-title {
    font-size: 2.5rem;
    margin: 0;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin: 10px 0 20px;
}

.hero-links a {
    color: #333;
    font-size: 2rem;
    margin: 0 10px;
    transition: transform 0.3s;
}

.hero-links a:hover {
    transform: scale(1.2);
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .hero-image {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .hero-content {
        max-width: 50%;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    .hero-links {
        display: flex;
        justify-content: flex-start;
    }

    .hero-links a {
        font-size: 2.5rem;
    }
}