/* src/CarRental.css */
.portfolio-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }

  
.project-name {
    margin-bottom:100px;
   text-align: center;
  }
  
  .project-name h1 {
    font-size: 2em;
    margin-right:0;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }

  
  .image-container {
    flex: 1;
    width: 100%;
    max-width: 500px;
    height:auto;
    animation: slide-up 1s ease-out forwards;
    overflow: hidden;  
}
  
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .car-image {
    max-width: 100%;
    height: auto;
  }
  
  .text-container {
    max-width: 50%;
    
  }
  
  .text-container h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .text-container p {
    margin-bottom: 10px;
  }
  
  .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .links a:hover {
    background-color: #000;
    color: #fff;
  }
  
  /* Media queries for responsiveness */
@media (max-width: 768px) {
    .project-name h1 {
      font-size: 1.5em;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .text-container {
      padding-left: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .links a {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .project-name h1 {
      font-size: 1.2em;
    }
  
    .text-container p,
    .text-container h2 {
      font-size: 0.9em;
    }
  
    .links a {
      font-size: 0.8em;
      padding: 5px;
    }
  }